Django>=5.0,<6.0
djangorestframework
djangorestframework-simplejwt
gunicorn
psycopg2-binary
django-cors-headers>=3.7


# Optional packages
django-debug-toolbar>=3.2
django-extensions>=3.1
django-filter>=21.1
